:root {
	--cloudcatch-tabs-row-gap: var(--wp--style--block-gap, 2em);
	--cloudcatch-tabs-column-gap: var(--wp--style--block-gap, 2em);
}


.wp-block-cloudcatch-tabs__container {
	flex: 1;
	display: grid;
	align-items: center;
	column-gap: var(--cloudcatch-tabs-column-gap);
	row-gap: 0 !important;
	justify-content: flex-start;

	body &.is-layout-flex {
		display: grid;
	}

	.wp-block-cloudcatch-tab {
		order: -1;

		&-content {
			order: 1;
			grid-column: 1 / -1;
			margin: 0;
			display: none;

			&.active {
				display: block;
			}
		}


		&.active label,
		&__label.active {
			font-weight: 700;
		}
	}

	&.is-vertical {
		grid-auto-flow: column;
		grid-template-columns: min-content auto;

		.wp-block-cloudcatch-tab-content {
			grid-column: 2 / 2;
			grid-row: 1 / -1;
		}
	}
}


.wp-block-cloudcatch-tabs.wp-block-cloudcatch-tabs__wrapper:not(.wp-block-cloudcatch-tabs-v2) {
	display: flex;
	flex-direction: column;
	row-gap: 0;
	column-gap: var(--cloudcatch-tabs-column-gap);
	justify-content: normal;
	align-items: normal;

	.wp-block-cloudcatch-tabs__tabs {
		display: flex;
		row-gap: var(--cloudcatch-tabs-row-gap);
		column-gap: var(--cloudcatch-tabs-column-gap);
		align-items: center;

		.wp-block-cloudcatch-tab__label {
			cursor: pointer;
			font-weight: inherit;

			&.active {
				font-weight: 700;
			}
		}
	}

	.wp-block-cloudcatch-tab {
		grid-column: 1 / -1;
	}

	.wp-block-cloudcatch-tabs__container {
		flex: 1;
		display: grid;


		.wp-block-cloudcatch-tab {
			display: none;
			margin: 0;

			&.active {
				display: block;
			}
		}
	}

	&.items-justified-right .wp-block-cloudcatch-tabs__tabs {
		justify-content: flex-end;
	}

	&.items-justified-space-between .wp-block-cloudcatch-tabs__tabs {
		justify-content: space-between;
	}

	&.items-justified-left .wp-block-cloudcatch-tabs__tabs {
		justify-content: flex-start;
	}

	&.items-justified-center .wp-block-cloudcatch-tabs__tabs {
		justify-content: center;
	}

	&.is-vertical {
		flex-direction: row;

		.wp-block-cloudcatch-tabs__tabs {
			flex-direction: column;
			align-items: normal;
		}

		&.items-justified-right .wp-block-cloudcatch-tabs__tabs {
			align-items: flex-end;
		}

		&.items-justified-space-between .wp-block-cloudcatch-tabs__tabs {
			align-items: center;
		}

		&.items-justified-left .wp-block-cloudcatch-tabs__tabs {
			align-items: flex-start;
		}

		&.items-justified-center .wp-block-cloudcatch-tabs__tabs {
			align-items: center;
		}

		.wp-block-cloudcatch-tabs__container {
			flex-direction: column;
		}
	}
}
